
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Welcome</h2>

<h3>Select Account Type:</h3>

<div>
@using (Html.BeginForm("Choice", "Home", FormMethod.Post))
{
    <select name="accountType">
        <option selected="selected">All</option>
        <option>Chequing</option>
        <option>Savings</option>
    </select>
    <br/>
    <br/>
    <input type="submit" value="submit"/>
}


</div>